In [1]:
print("Hello World")

Hello World

In [2]:
Print("hello world")

NameError: name 'Print' is not defined

In [3]:
print(hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2497053111.py, line 1)

In [5]:
print(10.7)

10.7

#### hello

### dhbfbfbfk

##### hello

## hello

# hello

# Variable

In [7]:
### 1. Variables name should not have space
first name="Shreya"

SyntaxError: invalid syntax (2474266872.py, line 2)

In [10]:
### 2. Variables name should start with A-Z,a-z or _
Firstname="shreya"
Firstname

'shreya'

In [11]:
name='data'
name

'data'

In [12]:
_name='data'
_name

'data'

In [13]:
+name='data'
+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (961253210.py, line 1)

In [14]:
### 3. Variables name should not start with numbers 
1name="shreya"
1name

SyntaxError: invalid decimal literal (3682393319.py, line 2)

In [15]:
name2='data'
name2

'data'

In [16]:
nam2e='data'
nam2e

'data'

In [17]:
#### 4. only allowed spl character is_
first+name="shreya"
first+name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4254263621.py, line 2)

## Data types

In [21]:
x=10.5
type(x)

float

In [22]:
z=True
type(z)

bool

In [23]:
z="True"
type(z)

str

In [25]:
z=true
type(z)

NameError: name 'true' is not defined

In [26]:
x=5
type(x)
x

5

In [27]:
x,type(x)

(5, int)

In [31]:
x,y=5,10
y
x

5

In [32]:
x,y

(5, 10)

In [33]:
print("Shreya")

Shreya

In [34]:
x="shreya"
type(x)

str

In [35]:
x=21
print(x)

21

In [36]:
type(x)

int